config/client_secret.json

data/tokens/
shared/data/tokens/
.env

# Bỏ qua tất cả file trong thư mục .venv (do virtualenv tạo ra)
env/
venv/
tmp/
output/
logs/
data/thumbnail/*
data/tokens/*
shared/config/settings.yaml
shared/config/settings.local.yaml

# Bỏ qua tất cả thư mục node_modules ở bất kỳ đâu
**/node_modules/
**/static_assets/cache/
# Bỏ qua thư mục .idea của JetBrains IDE
.idea/


# Bỏ một số file tạm khác (tùy chọn)
__pycache__/
*.pyc
*.pyo
*.log
.DS_Store

**/credentials.json
**/token.json
**/client_secret.json

**.mp4
*.wav
*.mp3

ffmpeg/
playwright/
dist/
build/
__pycache__/