pydantic
python-dotenv
httpx
playwright
bs4
minio
pydantic_settings
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
pyyaml
aiohttp
pillow
psutil
sentencepiece
huggingface_hub
ctranslate2
tokenizers
transformers
torch
sacremoses
openai
google-genai
charset-normalizer